.contactus {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.contact-wrapper {
  height: 90vh;
  width: min(90%, 70.5rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  width: 40%;
  color: #fff;
}

h1 {
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 6px;
}

p {
  font-weight: 100;
  margin-bottom: 10px;
}

.social i {
  color: #fdee30;
  margin-right: 18px;
  margin-top: 8px;
}

.contact-form {
  width: 50%;
}

input {
  width: 90%;
  border: 2px solid #242222;
  margin-bottom: 20px;
  padding: 20px;
}

input:focus {
  border: 2px solid #fdee30;
  outline-offset: 0px;
  outline: none;
}

textarea {
  width: 90%;
  resize: none;
  padding: 20px;
  height: 20%;
  margin-bottom: 20px;
  border: 2px solid #242222;
}

textarea:focus {
  border: 2px solid #fdee30;
  outline-offset: 0px;
  outline: none;
}

button {
  padding: 11px 20px;
  letter-spacing: 3px;
  background-color: #fdee30;
  border: none;

}

@media only screen and (max-width: 600px) {
  .contact-wrapper {
    display: block;
    height: 100vh;
  }

  .contact {
    padding-top: 80px;
    width: 100%;
    margin-bottom: 50px;
  }

  .contact-form {
    width: 100%;
  }
}


